name: CI

on:
  push:
    branches:
      - main

jobs:
  test:
    runs-on: ubuntu-latest
    steps:
      - name: Setup PHP extensions
        uses: shivammathur/setup-php@44454db4f0199b8b9685a5d763dc37cbf79108e1 # v2
        with:
          php-version: '8.5'
          extensions: pcov, curl, xml, zip, mbstring, json
          coverage: pcov

      - name: Disable Xdebug
        run: sudo phpdismod xdebug

      - name: Checkout repo
        uses: actions/checkout@34e114876b0b11c390a56381ad16ebd13914f8d5 # v4

      - name: Install packages with composer
        run: composer install

      - name: Run tests, static type checker and linter
        run: |
          php -d pcov.enabled=1 ./vendor/bin/phpunit --testdox --coverage-clover=clover.xml --coverage-text --coverage-php=coverage/cover.php --colors=always
          ./vendor/bin/coverlyzer coverage/cover.php
          ./vendor/bin/psalm --output-format=github --shepherd

      - name: Upload coverage report to Codacy
        continue-on-error: true
        uses: codacy/codacy-coverage-reporter-action@89d6c85cfafaec52c72b6c5e8b2878d33104c699 # v1.3.0
        with:
          api-token: ${{ secrets.CODACY_API_TOKEN }}
          coverage-reports: clover.xml
